.wrapper {
    margin-top: var(--height-header);
    
}

.content {
    display: flex;
    padding: 20px 60px;
}

.cart,
.info-user {
    display: flex;
    flex-direction: column;
}

.info-user {
    flex: 1;
}

.cart {
    flex: 1;
}

.thumbnail {
    width: 120px;
}

.quantity-container {
    width: 100px;
    height: 40px;
}

.btn {
    width: 23px;
}

.voucher-container {
    width: 100%;
    max-height: 240px;
    overflow: auto;
}

.voucher-card {
    position: relative;
    width: 100%;
    height: 117px;
    padding-left: 80px;
    background-color: #f1f1f1;
    
    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: -20px;
        transform: translateY(-50%);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: white;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 50px;
        height: 100%;
        border-left: 2px dashed #748893;
        
    }
}

.voucher-card + .voucher-card {
    margin-top: 15px;
}

.check {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #748893;
    background-color: white;
}

.checked {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #748893;
    
}

.voucher-container + .voucher-container {
    margin-top: 15px;
}

.use-voucher {
    position: relative;

    &::after {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        content: "";
        height: 50%;
        border-left: 2px solid rgb(97, 92, 92);
    }
}

.set-voucher {
    user-select: none;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}
